.sidebar {
    width: 252px;
    height: 100vh;
    border-right: 1px solid #E7E8EF;
    z-index: 0;
    &Inner {
        padding: 24px;

        &Box {            
            display: flex;
            flex-direction: column; 
            padding-bottom: 16px;
            &::after {
                content: "";
                transform: translateX(-50px);
                height: 1px;
                width: 278px;
                background: #E7E8EF;
            }

            &Logo {
            color: var(--Main, #3626A7);
            font-size: 24px;
            font-weight: 900;
            font-style: normal;
            text-transform: uppercase;
            line-height: 32px; /* 133.333% */
            margin-bottom: 50px;
            }
            &Filter {
                color: var(--Text, #151515);
                font-size: 18px;
                font-weight: 600;
                line-height: 24px; 
                margin-bottom: 16px;
            }
        }

        &List {
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-top: 16px;
            &Item {
                padding-bottom: 16px;
                border-bottom: 1px solid #E7E8EF;
                &Input {
                       margin-top: 8px;
                       
                }

                &Last{
                    
                    &::after {
                        margin-top: 25px;
                        display: block;
                        content: "";
                        transform: translateX(-50px);
                        height: 1px;
                        width: 278px;
                        background: #E7E8EF;
                    }
                }
            }

        }

    }
}